<h3>Sign in</h3>

<form action="/admin" method="POST">
    <label><b>USERNAME</b></label>
    <input type="text" name="username" placeholder="username">

    <label><b>password</b></label>
    <input type="password" name="password" placeholder="password">

    <input type="submit" value="Login" class="btn">
 
</form>
 



<!-- 
<h3>Register</h3>

<form action="/register" method="POST">
    <label><b>USERNAME</b></label>
    <input type="text" name="username" placeholder="username">

    <label><b>password</b></label>
    <input type="password" name="password" placeholder="password">

    <input type="submit" value="register"  class="btn">
 
</form> -->