<div class="author">
  <h1 class="author__heading">Hi, I am Raddy.</h1>
  <p class="author__body">Software developer working on Blog.</p>
</div>

<img src="/img/4881622b38b645ab8daeb5fc262d2976.jpg" alt="person looking out through window" class="hero-image" width="981" height="528">

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-ul">

  <!-- we use the data because it was called from the main.js connection page -->
    <% data.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.title %></span>
          <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
        </a>
      </li>

      <% }) %>
  </ul>

  <!-- begining of pagination -->
<% if (nextPage !== null){ %>
  <a href="/?page=<%= nextPage %>" class="pagination">&it;view older Posts</a>

<% } %>

</section>